# rfkill_switch_name.property=value
# property in ignore or name
5100AGN.ignore=1
hso-*.ignore=1
hci*.ignore=1
phy*.ignore=1

sony-wwan.name=wwan
sony-wifi.name=wifi
sony-bluetooth.name=bluetooth

cdpower.file=/sys/devices/platform/sony-laptop/odd_power
touchpad.file=/sys/devices/platform/sony-laptop/touchpad
#
# batterycare: we can only switch between on and off, but the
# on value can be configured here to either 50% (2) or 80% (1, default)
batterycare.file=/sys/devices/platform/sony-laptop/battery_care_limiter
batterycare.onvalue=1
