# key=value pairs general settings
default_onvalue=1
default_offvalue=0
default_hardoffvalue=2
# the hardswitch is automatically ignored in the popup list and used
# for determining that we can switch something at all
hardswitch=5100AGN

# rfkill_switch_name.property=value
# property in onvalue, offvalue, hardoffvalue, ignore
5100AGN.onvalue=1
5100AGN.offvalue=2
hso-0.ignore=1
